body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
}

.chart-container {
  background-color:red;
}
.chart {
  /* border:1px solid black; */
  background-color:whitesmoke;
  padding-right:40px;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:40px;
}
.code-chart {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
}
.description {
  font-size:18px;
  margin-bottom:50px;
}
p {
  font-size:18px;
}
.subheading {
  font-style:italic;
}
#main-heading {
  font-size:50px;
  opacity:0.8;
}
#main-subheading {
  font-size:40px;
  opacity:0.6;
  margin-bottom:80px;
}
.language-python {
  /* float:right; */
  width:100%;
}
html {
  height:2000px;
}
